<div class="panel panel-default panel-form">
  <div class="panel-heading">
    <h2><b>Sign</b> In</h2>
  </div>
  <div class="panel-body">
    <form action="/signin" method="post" id="signin">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" placeholder="Username" name="username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Password" name="password">
      </div>

      <input class="btn btn-primary pull-right" type="submit" value="Sign In">
    </form>
  </div>
</div>
